<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <system.webServer>
        <staticContent>
            <remove fileExtension=".woff2" />
            <remove fileExtension=".woff" />
            <remove fileExtension=".ttf" />
            <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
            <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
        </staticContent>
        
    </system.webServer>
</configuration>
